.mainNav{
    text-align: center;
    padding-top: 20px;
}
.mainNav :hover{
    color: gray;
    transition: .5s;
}
nav ul{
    height: 10rem;
    background-color: rgb(94, 172, 74);
    list-style-type: none;/*this list style is none */
}
ul li a{
    margin-top: 20px;
    text-decoration: none;
    text-transform: 20px;
    color: white;
    font-size: 40px;

}
.mainBody{
  
    height: 200px;
    margin-left: 25%;
    margin-right: 20%;
    background-color: rgb(226, 225, 225);
    border-radius: 20px;
}
#display{
    margin-top: 20px;
    height:400px;
    margin-left: 20%;
    margin-right: 15%;
    background-color: aqua;
    border-radius: 20px;
}